* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100hv;
    background-color: #dce1e3;
  }
  .navbar .container-fluid span {
      background-color: #5c5f58;
      color: #fff;
      margin: -1%;
      width: 102%;
      padding: 15px;
      
  }
  .navbar .container-fluid span{
      font-size: xx-large;
      display: flex;
      justify-content: center;
  }
  .orange_divider{
      margin: -1%;
      background-color: #bd5448;
      padding: 3px;
      width: 102%;
  }
  .cotainer{
      display: flex;
      justify-content: space-between;
  }
  .content_box{
      width: 450px;
      padding: 6px;
      display: flex;
      border: 2px solid #bd5448;
      margin-top: 2px;
      margin-left: 6px;
      margin-bottom: 10px;
      background-color: #fff;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 15px;
  }
  .content_box h3{
      color: #5c5f58;
  }
  .content_box p{
      justify-content: center;
      font-size: larger;
  }
  .Dtree{
  width: 380px;
  /* height: 200px; */
  }
  
  .Demo_box{
      width: 490px;
      height: 320px;
      padding: 5px;
      display: flex;
      border: 2px solid #bd5448;
      margin-top: 2px;
      /* margin-left: -10px; */
      margin-bottom: 10px;
      background-color: #fff;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 15px;
  }
  
  .Demo_box h3{
    color: #5c5f58;
    z-index: 9;
    margin-top: 15px;
    margin-left: 30px;
  }
  .Demo_box p{
      justify-content: center;
      font-size: larger;
  }
    .success-imgbox{
      display: flex;
      position: absolute;
      top: 260px;
      left: 580px;
    }
    .success-imgbox img {
      width: 100px;
      margin-right: 30px;
    }
   .fail-imgbox img{
    width: 100px;
    margin-right: 30px;
   }
 .fail-imgbox{
  display: flex;
  position: absolute;
  top: 260px;
  left: 580px;
 }
#fail h3{
  position: absolute;
  top: 290px;
  left: 700px;
}

   /* .fail h3{
    /* position: absolute; */
    /* left: 680px; */
   /* } */ 
   .thirdcol {
    margin-right: 6px;
  } 
  .spectro_box{
    height: 320px;
    padding: 5px;
    display: flex;
    border: 2px solid #bd5448;
    margin-top: 2px;
    /* margin-left: -10px; */
    margin-bottom: 10px;
    background-color: #fff;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;}
    .spectro_box h3{
      color: #5c5f58;
    }
  .graph_box{
    width: 490px;
    /* height: 320px; */
    padding: 5px;
    display: flex;
    border: 2px solid #bd5448;
    margin-top: 2px;
    /* margin-left: -10px; */
    margin-bottom: 10px;
    background-color: #fff;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
  }
  .graph_box h3{
    color: #5c5f58;
  }
  #Conclusion{
    height: 255px;
  }
  #recordButton{
    width: 76px;
    height: 76px;
    /* padding: 10px; */
    border: 2px transparent;
    background-color: #4e6b26;
    border-radius: 50%;
    color: white;
    font-size: larger;
    margin-top: 15px;
  }
  #stopButton{
    width:76px;
    height: 76px;
    /* padding: 10px; */
    border: 2px transparent;
    background-color: rgb(154, 15, 15);
    border-radius: 50%;
    color: white;
    font-size: larger;
    margin-top: 15px;

  }
  #fail{
    display: none;

  }
  #success{
    display: none;

  }
  li{
    display: none;
  }