* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100hv;
    background-color: #dce1e3;
  }
  .logo {
    width: 202px;
    margin: -19px;
  }
  .logo-container {
    display: flex;
  }
  .logo-container h2 {
    font-size: 27px;
    margin-left: -41px;
    margin-top: 37px;
    color: #5c5f58;
  }
  .card_container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -42px;
    margin-left: 215px;
  }
  .identify_person_card {
    width: 40%;
    background-color: white;
    text-align: center;
  }
  .card-header {
    padding: 3px;
    color: white;
    text-align: center;
    background-color: #5c5f58;
    font-size: x-large;
  }
  .card-body {
    font-size: x-large;
  }
  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 97%;
    height: auto;
    background-color: transparent;
    border-color: transparent;
    font-size: unset;
    margin: 15px;
  }
  
  .form-control {
    display: block;
    width: 150%;
    height: 36px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
  }
  
  .btn-primary {
    color: #fff;
    width: 150px;
    font-size: large;
    background-color: #5c5f58;
    border-color: #5c5f58;
    margin-bottom: 10px;
  }
  .btn-primary:hover {
    background-color: #bd5448;
  }
  
  .holder {
    background-image: -o-linear-gradient(bottom, #4c474c 0%, #141414 100%);
    border-radius: 50px;
  }
  #recordButton{
    width: 63px;
    height: 63px;
    /* padding: 10px; */
    border: 2px transparent;
    background-color: #4e6b26;
    border-radius: 50%;
    color: white;
    font-size: medium;
  }
  #stopButton{
    width: 63px;
    height: 63px;
    /* padding: 10px; */
    border: 2px transparent;
    background-color: rgb(154, 15, 15);
    border-radius: 50%;
    color: white;
    font-size: medium;

  }
#encodingTypeSelect{
  display: none;
}
li{
display: none;
}

  /* #recordButton {
    margin: 50px auto;
    outline: none;
    border: none;
    background-color: #d9afd9;
    background-color: #bd5448;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-indent: -1000em;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px px 2px rgba(0, 0, 0, 0.3) inset,
      0px 0px 0px 100px #fff, 0px 0px 0px 35px #333;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff,
      0px 0px 0px 35px #333;
  }
  #recordButton:hover {
    background-color: rgb(193, 173, 59);
  }
#recordButton:active{
    background-color: rgb(193, 173, 59);
  } */
  [data-role="recordings"] > .row {
    width: auto;
    height: auto;
    padding: 20px;
  }
  [data-role="recordings"] > .row > audio {
    outline: none;
  }
  
  [data-role="recordings"] > .row > a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    background-color: #5c5f58;
    margin-left: 20px;
    margin-top: -40px;
    cursor: pointer;
  }
  [data-role="recordings"] > .row > a:hover {
    text-decoration: none;
  } 
  .success-imgbox img {
    width: 100px;
  }
  .person-imgbox img {
    width: 150px;
  }
  #success{
    display: none;;
  }
  #fail{
    display: none;
  }