<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SpeakUp</title>
</head>
<body>
    <div class="logo-container">
    <img src="../static/images/logo.png" alt="" class="logo">
    <h2>SpeakUp</h2>
    </div>
     <div class="card_container">
     
      <!-- *********************************************************************************************** -->
      <div class="identify_person_card">
        <div class="card-header">
          Identify Sentence
        </div>
        <div class="card-body">
          <h2>Record audio</h2>
          <div>
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
          </div>
          <!-- ******************************** success case ********************************** -->
          <div id="success" >
            <div class="success-imgbox">
              <img src="../static/images/checked.png" alt="" class="img">
            </div>
            <div class="title">
              <h3 >Success!</h3>
            </div>
            <p class="para" id="result">{{result}} is speaking <br>
              Door will open now </p>
        </div>
          <!-- ******************************** fail case ********************************** -->
        <div id="fail">
          <div class="success-imgbox">
            <img src="../static/images/cancel.png" alt="" class="img">
          </div>
          <div class="title">
            <h3 >Fail!</h3>
          </div>
      </div>
      </div>  
    </div>
    <select id="encodingTypeSelect">
      <option value="wav"></option>
      </select>
    
      <!-- <pre id="log"></pre>	 -->
      <ol id="recordingsList"></ol>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/record.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}" ></script>
</body>
</html>